# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2016-2019 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include .lgtm
include *.rst
include *.sh
include *.txt
include docs/requirements.txt
include LICENSE
include MAINTAINERS
include pytest.ini
recursive-include docs *.bat *.py *.rst
recursive-include docs Makefile
recursive-include examples *.py
recursive-include invenio_sipstore *.py *.json *.html
recursive-include tests *.py
